.panel-heading {
    text-align: center;
    background-color: #5f7adb;
}

.panel {
    border-color: #5f7adb;
}

.panel-body {
    text-align: center;
}

label {
    text-align: left;
}

#entrarSistema,
.btn-danger {
    display: block;
    margin: 10px auto;
}

.panel img {
    margin: 0 auto;
    /* Centrar la imagen */
    display: block;
}

.logo {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
}

.btn-primaryy {
    background-color: #5f7adb;
    border-color: #5f7adb;
    color: #fff;
}