body {
    background-color: withe;
    /* Fondo gris */
}

.container {
    margin-top: 50px;
}

.panel {
    border: 1px solid #000;
}


.btn {
    border: 1px solid #000;
}

.panel-heading {
    text-align: center;
}

.panel-body {
    text-align: center;
}

label {
    text-align: left;
}

#entrarSistema,
.btn-default {
    display: block;
    margin: 10px auto;
}

.btn-danger {
    display: block;
    margin: 10px auto;
}

.btn-primaryy {
    background-color: #5f7adb;
    border-color: #5f7adb;
    color: #fff;
}